__pycache__/
yasha.egg-info/
dist/
build/

*.pyc
tests/**/build/
tests/**/CMakeFiles/
tests/**/.sconsign.dblite
tests/**/Makefile
tests/**/CMakeCache.txt
tests/**/*.cmake
tests/fixtures/nrf51.rs
tests/fixtures/nrf51.rs.j2extc
