# Python caches
__pycache__/
*.py[cod]
*$py.class


# Distribution and packaging
dist/
build/
*.egg-info/
*.egg


# Unit test and coverage reports
.cache/
.pytest_cache/


# Environments
env/
venv/
.env/
.venv/


tests/**/build/
tests/**/CMakeFiles/
tests/**/.sconsign.dblite
tests/**/Makefile
tests/**/CMakeCache.txt
tests/**/*.cmake
tests/fixtures/nrf51.rs
tests/fixtures/nrf51.rs.j2extc
