{#- The MIT License (MIT)

Copyright (c) 2015-2021 Kim Blomqvist

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE. -#}

{{ "/// " + device.description|wordwrap(wrapstring="\n/// ") }}

use volatile_cell::VolatileCell;
use core::ops::Drop;

{%- set NO_FIELDS = False -%}
{%- set NO_ENUMES = False -%}
{%- set NO_DESCRIPTIONS = False -%}

{% macro description(prefix, node) %}
{% if not NO_DESCRIPTIONS %}{{ prefix }} {{ node.description }}{% endif %}
{% endmacro %}

{% macro register(r) %}
{{ "%#05x"|format(r.addressOffset) }} => {{ "reg%s"|format(r.size) }} {{ r.name }}
    {%- if not r.fields or NO_FIELDS %} {{ "{} " + description("//!", r) }}{% else %} {{ "{ " + description("//!", r) }}
    {% for f in r.fields %}
    {{ f.bitRange|bitrange }} => {{ f.name }}{% if f.access %}: {{ f.access|access }}{% endif %}
    {% if not f.enumeratedValues|enumlist or NO_ENUMES %},{{ description(" //!", f) }}{% else %} {{ "{ " + description("//!", f) }}
        {% for e in f.enumeratedValues|enumlist %}
        {{ e.value|enumvalue }} => {{ e.name }}, {{ description("//=", e) }}
        {% endfor %}
    }{% endif %}

    {% endfor %}
}{% endif %}
{% endmacro %}

{% macro cluster(c) %}
{{ "%#05x"|format(c.addressOffset) }} => group {{ c.name }} {{ "{ " + description("//!", c) }}
    {% for r in c.registers %}
    {{ register(r)|indent }}
    {% endfor %}
}
{%- endmacro %}

{% for p in peripherals %}
ioregs! ({{ p.name }} @ {{ "%#010x"|format(p.baseAddress) }}
{%- if not p.registers %}{% else %} = {
    {{ description("///", p) }}
    {% for r in p.registers %}
    {% if r.registers %}
    {{ cluster(r)|indent }}
    {% else %}
    {{ register(r)|indent }}
    {% endif %}
    {% endfor %}
}{% endif %});

{% endfor %}
